<h2>All Heroines</h2>


<%= form_tag(heroines_path, method: "get") do %>
  <%= label_tag(:q, "Search by Power:") %><br>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
 <h3><%= link_to "Create a Heroine", new_heroine_path%></h3>
