
<div class="">
  <% if flash[:errors]%>
    <ul>
      <% flash[:errors].each do |error| %>
      <li><%=error%></li>
      <% end %>
    </ul>

  <% end %>

</div>

<div>
<%= form_for @heroine do |f| %>

<%=f.label :name %>
<%= f.text_field :name%>

<%=f.label :super_name %>
<%=f. text_field :super_name %>

<%= f.label "Superpower" %>
<%= f.collection_select :power_id, Power.all, :id, :name %>

<%= f.submit %>
<% end %>
</div>
