<h1><%="#{@heroine.name} ~ #{@heroine.super_name} ~"%></h1>

Name: <%=@heroine.name%> <br>
Super Name: <%=@heroine.super_name%> <br>
Power: <%=@heroine.power.name%> <br>(<%=link_to @heroine.power.name, power_path(@heroine.power)%>)

<br>
<br>
<br>
<br>
<%=link_to 'Heroines Index', heroines_path%> <%=link_to 'Powers Index', powers_path%>
